<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>user dashboard</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

 <style>


.btn-light:hover svg{
  fill:red;
}
.list {
  text-align:left;
  top:10px;
  position:relative;
}
.bi {
  display: inline; /* Initially hide the button */
  position: relative;
  margin-right: 20px;
}
button:hover svg{
  fill:red;
}   
.dropdown:hover .dropdown-content{
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left:5px;
}
.dropdown-content {
  display: none;

}  
.delete{
  display: block;
  right:  -785px;
  position: relative;
  top: -25px;

}
</style>

</head>
<body style="color: white ;  background-color: #00644E; " >

  <div class="container text-center">

    <div class ="jumbotron"><h1 class="display-4">Welcome <a href="/dashboard_of/{{artist}}">{{artist}}</a></h1></div><br><br>

    <div class="row">

      <div class="col-md-9"><h3>Songs by {{artist}}</h3><br>
        
        <br><hr>

       
        <div class="song_name" style="text-align:left;">

          {% for song in songs %}
          <div class="list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="black" stroke="white" class="bi bi-play" viewBox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
          </svg>

          {{song["song_name"]}} {% if song["rating_sub"]!=0 %}// AVG RATING : {{song['total_rating']/song['rating_sub']}}{% endif %} 
          // HITS : {{song['hits']}}
          <span class="dropdown" style="position:upper;" >
          <button class="dropbtn">ADD TO ALBUM</button>
          <div class="dropdown-content" >{% for album in album %}
            <a href="/addalbum/{{artist}}/{{album["aname"]}}/{{song["song_name"]}}">{{ album['aname']}}</a><br>{% endfor %}
            </div>
          </span><a href="/edit_song/{{song["song_name"]}}" class="btn xx" type='button'>EDIT</a>
          <a type="button" href="/delete/{{artist}}/{{song["song_id"]}}" class="btn btn-light btn-sm delete" style="width:5%"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
            <path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
            <line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg></a>
          </div>
          <hr>
          {% endfor %}  
          </div><div class="x">
          <a class="btn btn-outline-danger" href="/newsong_by/{{artist}}" role="button">+ NEW SONG</a></div><br>
          <div class="row">
            <div class="card" style="width:20%">
              <div class="card-header">songs</div>
              <div class="card-body">
              <h2> {{sc}}</h2>
              </div>
            </div>
            <div class="card" style="width:20%; left:10px;">
              <div class="card-header">Album</div>
              <div class="card-body">
              <h2> {{ac}}</h2>
              </div>
            </div>
          </div> 
          </div> 
        
          

        <div class='col-md-3'><h3>ALBUMS</h3><br><br>
      
        <hr>
        <a class="btn btn-primary" href="/new_album/{{artist}}" role="button" data-toggle="button" aria-pressed="false" autocomplete="off">
          + NEW ALBUM
        </a>
        <hr> <div class="album">Existing Albums<hr>{% for album in album %}
        <a class="btn btn-primary" href="/album/{{album['aname']}}/{{artist}}" role="button" data-toggle="button" aria-pressed="false" autocomplete="off">
        {{ album['aname']}} // {{album['agenre']}}</a>
        <a href="/edit_album/{{album['aname']}}" class="btn xx" type='button'>EDIT</a>
          <a type="button" href="/delete_album/{{artist}}/{{album["album_id"]}}" class="btn btn-light btn-sm " style="width:13%"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
            <path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
            <line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg></a>
        <hr>{% endfor %}</div>
      
  
      
    
  

</body>
</html>
