<!DOCTYPE html>
<html>
<head>
	<title>edit song</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<style>
		.center-div {
			margin: 0 auto;
			width: 50%;
		}
		table {
			border-collapse: collapse;
			width: 75%;
		}
		th, td {
			
			padding: 7px;
		}

		input {
			width: 98%;
		}

		.register-link {
			text-align: center;
		}
		.card{
			width:50%;
			background-color: rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	        opacity: 0.7;
		}
	</style>
</head>
<body style="background-color: #00644E;">
	<br><br><br><br><center><div class="card">
		<div class="card-body">
			<center><h1 style="color: white ;">EDIT {{song["song_name"]}}</h1></center>
		</div>
	  </div></center><br>

	  <center><div class="card">
		<div class="card-body">
		<table><form action="/edit_song/{{song}}" method="POST">
			<input type="hidden" name="id" value="{{song["song_id"]}}">
			<tr>
				<th style="color: white ;">Song_name:</th>
				<td>
					<input  name="song_name" id="song_name"  value="{{song["song_name"]}}">
				</td>
			</tr>

            <tr>
				<th style="color: white; vertical-align:top;">Lyrics:</th>
				<td>
					<input style="height:80px;" name="lyrics" id="lyrics"  value="{{song['lyrics']}}">
				</td>
			</tr>

			<tr>
				<th style="color: white ;">Release date:</th>
				<td>
					<input  type="date" name="date" id="date"   value="{{song["date"]}}">

                      
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<input type="submit"  value="SAVE">
				</td>
			</tr>
		</form>
		</table>

		<div class="register-link" style="color: white ;">
			{% for artist in song['artist'] %}
			<a href="/{{artist['username']}}"> Return to dashboard</a>{% endfor %}
		</div>
        
	</div>
</div></center>
</body>
</html>
